<div class="bg-light w-100" >
    <span class="badge badge-primary w-100">
        <h4> <i class="fas fa-receipt"></i> Details</h4>
    </span>
    <h4><%= compName %></h4>
    <p><%= compDescription %></p>
</div>