<div class="landing-page text-white h-100 p-3 text-center">
    <h1 class="mx-auto">Welcome to the TLA Portal!</h1>
    <br>
    <p class="mx-auto">
        From 2018 to 2019, the Total Learning Architecture (TLA) shifts from being a single system to a
        <br>true ecosystem of loosely coupled services, devices, and data.
    </p>
    <p class="mx-auto">
        The TLA Portal is a means to display and interact with learner state,
        <br>but this can be achieved from any properly interfaced device or application.
    </p>
    <br>
    <p class="mx-auto">
        This portal was designed for demonstration purposes only.
    </p>
</div>