<div class="h-100">
    <div class="row">
        <span class="badge mdb-color darken-3 w-100 pt-2">
            <h6><i class="fas fa-book pr-2"></i>Related Experiences</h6>
        </span>
    </div>

    <div class="row" >
        <div class="col" id="relatedActivities"></div>
    </div>
</div>