<div class="side-nav fixed flex-column light-blue lighten-5 w-100 text-center z-depth-2 pb-2 mh-100">
    <!-- My Goals Section -->
    <div class="w-100">
        <span class="btn light-blue darken-3 w-100 p-0 m-0 rounded-0">
            <h5>
                <a class="text-white p-2" data-toggle="collapse" href="#collapseGoals">
                    <i class="fa fa-bullseye pr-2" aria-hidden="true"></i>&nbsp;Goals&nbsp;<i class="fa fa-caret-down pl-2"></i>
                </a>
            </h5>
        </span>

        <div class="collapse mt-1 mb-2" id="collapseGoals">
            <div class="overflow-auto" id="myGoals" style="max-height: 15vh;" >
                <!-- Filling this list of goals on load. -->
            </div>
        </div>
    </div>
    <!-- My Goals Section -->

    <!-- My Competency Section -->
    <div class="w-100">
        <span class="btn light-blue darken-3 w-100 p-0 m-0 rounded-0">
            <h5>
                <a class="text-white p-2"  data-toggle="collapse" href="#collapseCompetency">
                    <i class="fas fa-sliders-h pr-2" aria-hidden="true"></i>&nbsp;Competencies&nbsp;<i class="fa fa-caret-down pl-2"></i>
                </a>
            </h5>
        </span>

        <div class="collapse mt-1 mb-2" id="collapseCompetency">
            <div class="overflow-auto" id="myCompetency" style="max-height: 15vh;">
                <!-- Filling this list of Competency on load. -->
            </div>
        </div>
    </div>
    <!-- My Competency Section -->

    <!-- Scheduled Tasks Section -->
    <div >
        <span class="btn light-blue darken-3 w-100 p-0 m-0 rounded-0">
            <h5>
                <a class="text-white p-2"  data-toggle="collapse" href="#collapseTasks">
                    <i class="fas fa-tasks pr-2"></i>&nbsp;Scheduled Tasks&nbsp;<i class="fa fa-caret-down pl-2"></i>
                </a>
            </h5>
        </span>

        <div class="collapse mt-1 mb-2" id="collapseTasks">
            <div class="h-50 overflow-auto" id="myTasks" style="max-height: 15vh;">
                <!-- Filling this list of tasks on load. -->
            </div>
        </div>
    </div>
    <!-- Scheduled Tasks Section -->

    <!-- Active Tasks -->
    <div>
        <span class="btn light-blue darken-3 w-100 p-0 m-0 rounded-0">
            <h5>
                <a class="text-white p-2"  data-toggle="collapse" href="#collapseEvents">
                    <i class="far fa-calendar-check pr-2"></i>&nbsp;Events&nbsp;<i class="fa fa-caret-down pl-2"></i>
                </a>
            </h5>
        </span>

        <div class="collapse mt-1 mb-2" id="collapseEvents">
            <div class="h-50 overflow-auto" id="myEvents" style="max-height: 15vh;">
                <!-- Filling this list of tasks on load. -->
            </div>
        </div>
    </div>
    <!-- Active Tasks -->

</div>